body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    color: #000 ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2 {
    margin: 0 0 10px;
}

.page-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
}

body > h2{
    text-align: center;
    font-size: 70px;
}

h1 {
    text-align: center;
    flex-grow: 1;
    
}

section {
    padding: 20px;
}

#formularios {
    display: flex;
    justify-content: space-between;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 600px;
    font-size: larger;
}

form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #c1c5c7;
    border-radius: 4px;
    width: 600px;
}

button {
    background-color: #0a5588;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin: 20px auto;
    display: block;
    font-size: large;
}

button:hover {
    background-color: #074168;
}

footer {
    background-color: #0a5588;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
    height: 500px;
    text-align: center;
    line-height: 50px;
}

.color-box {
    background: #0a5588;
    height: 80px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-box {
    display: flex;
    justify-content: flex-start;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo {
    border: 2px solid #dbebf5;
    border-radius: 10px;
    width: 850px;
    margin: 12px;
    background-color: #dbebf5;
    font-size: larger;
    padding: 10px;
    box-shadow: 5px 5px 5px #d1dfe7;
}

.link-bar {
    background: rgba(218, 218, 218, 0.55);
    width: 100%;
    height: 100px;
    margin: 0;
}

.link-bar > ul {
    display: flex; 
    justify-content: center; 
    padding: 0; 
}

.link-bar > ul li {
    list-style: none;
    margin: 10px;
    padding: 10px; 
    text-align: center;
    width: 150px;
    background-color: white;
    border-bottom: 7px solid #0a5588;
    font-size: larger;
    transition: background-color 0.3s ease;
    overflow: hidden;
    height: 74px;
}

.link-bar a {
    text-decoration: none;
    display: block;
    height: auto;
    white-space: normal; 
    word-break: break-word; 
    padding: 10px;
}

.link-bar > ul li:hover {
    background-color: #0a5588;
}



.link-bar a:link, 
.link-bar a:visited {
    color: black; 
}

.link-bar > ul li:hover a {
    color: white;
}

.link-bar a:active {
    color: black; 
}

.articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20%;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left.card {

    margin-right: 20px;
  }
  
  .right.card {
    margin-left: 20px;
  }
  
  .tile-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    line-height: 1.5;
  }


.search-bar {
    display: flex;
    align-items: baseline;
    margin-right: 20px;
    margin-left: auto; 
}

.search-bar input {
    padding: 8px;
    border: 1px solid #c1c5c7;
    border-radius: 4px;
    width: 300px;
    height: 25px;
}

.search-bar button {
    background-color: #ffffff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    width: 50px;
}

.search-bar button:hover {
    background-color: #c2c5c7;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.copyright {
    width: 15%;
    align-self: flex-end;
    font-size: 0.9em;
    padding: 10px;
}

.footer-info {
    display: flex;
    gap: 20px;
    width: 75%;
}

.about-us ul,
.find ul,
.connect ul,
.info ul {
    padding: 0;
    margin: 0;
}

.about-us ul li,
.find ul li,
.connect ul li,
.info ul li {
    line-height: 25px;
    border-bottom: 1px dashed white;
    padding: 5px 0;
    margin: 5px 0;
    list-style: none;
}

.about-title,
.find-title,
.connect-title,
.information-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-logo-box {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-logo-box .med-logo {
    height: auto;
    width: 100%;
    max-width: 200px;
}

.footer-logo-box .ucv-logo {
    height: auto;
    width: 100%;
    max-width: 250px;
}


@media screen and (max-width: 1440px) {
    .formulario form input {
        width: 100%;
        max-width: 500px;
    }

    .articulo {
        width: calc(50% - 24px);
    }

    .card {
        width: 25%;
    }
}

@media screen and (max-width: 1024px) {
    .formulario {
        padding: 15px;
    }

    .formulario form input {
        max-width: 400px;
    }

    .articulo {
        width: calc(100% - 24px);
    }

    .card {
        width: 40%;
    }

    .footer-info {
        gap: 10px;
    }

    .footer-logo-box .med-logo,
    .footer-logo-box .ucv-logo {
        max-width: 150px;
    }
}